.image-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 columns */
  grid-template-rows: repeat(2, 1fr); /* 2 rows */
  gap: 15px; /* Space between grid items */
  width: 80%;
  max-width: 1400px;
  margin: 0 auto; /* Center the grid */
}

.image-grid-item {
  width: 350px; /* Fixed width for rectangular shape */
  height: 200px;
  margin-bottom: 20px; /* Fixed height for rectangular shape */
}

.image-grid-item {
  width: 450px; /* Fixed width for rectangular shape */
  height: 250px; /* Fixed height for rectangular shape */
}

.image-grid-item {
  overflow: hidden; /* Prevent overflow */
  border-radius: 10px; /* Rounded corners */
}

.image-grid img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Cover the entire grid item */
  transition: transform 0.3s ease-in-out; /* Smooth scaling effect */
}

.image-grid img:hover {
  transform: scale(1.05); /* Scale effect on hover */
}
